PK=your private key here, probably a Hardhat account
MNEMONIC=here is where your twelve words mnemonic should be put my friend

#INFURA
INFURA_KEY=

#ALCHEMY
#ETH
ALCHEMY_KEY_ETH=
#POLYGON
ALCHEMY_KEY_POLYGON=
#BASE
ALCHEMY_KEY_BASE=
#ETH_TESTNET
ALCHEMY_KEY_SEPOLIA=

#EtherScan key
ETHSCAN_KEY=
#PolygonScan key
POLYSCAN_KEY=